@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body { 
  background-color: rgb(24, 24, 24);
  text-align: center;
  margin-top: 100px;
  height: 100%;
}

#login-container {
  background-color: #5c0000; /* Fallback color */
  background-image: url("https://cdn.dribbble.com/users/1648123/screenshots/3521480/media/023ab5abe6ca7b8f1802da959f54f007.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#form-container {
  width: 60%;
  margin: auto;
  justify-content: center;
  color: white;

  #formModal {
    color: black;
  }
}

#login-form-container {
  background-color: brown;
}

#main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 100px;
  align-content: center;

  #add-button {
    margin: 0 auto;
    text-align: center;
  }
}

#store {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  gap: 20px;
}


.card {
  display: flex !important;
  flex-direction: column !important;
  height: 60vh;
  width: 300px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  height: 25%;
  font-weight: bold;
}

.card-img-top {
  height: 60%;
}


#add-item-btn {
  margin-top: 20px;
};

#itemsForOrder {
  display: flex;
  align-items: center;
  flex-direction: column;

  #subTotal-container {
    font-size: 100px;
    color: rgb(0, 155, 0)
  }
}

#menuItems {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

#store {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.VM {
  background-color:#c41700;
}

.VO {
  background-color:#1e8b30;
  color:rgb(88, 100, 112)
}

.CaO {
  background-color:#058cad;
}

.VR {
  background-color:#e9c10e;

}

.card-body img {
  height: 40%;
  width: 60%;
}

.card.orderItem-card {
background-color: rgb(243, 243, 243) !important;
width: 300px !important;
height: 50vh;
}
