@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  color: brown;
  text-align: center;
  margin-top: 100px;
}

#form-container {
  width: 60%;
  margin: auto;
  justify-content: center;
  color: white;

  #formModal {
    color: black;
  }
}
